@use "../../../styles/abstract/colors" as *;

$margin: 10px;
$padding: 0 15px;
$waveHeight: 130px;

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin: auto;
    margin-top: $waveHeight + 25px;
    
}

.title {
    margin: $margin;
}

.theme_toggle {
    margin: $margin;
    padding: $padding;
    color: white;
    border: none;
    cursor: pointer;
}

.waves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.waves img {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: $waveHeight;
}


